.menu2 {
font:italic bold 16px arial, sans-serif;
color: #F0E68C;
height: 800px; /* Высота блока */
border: 2px solid #000; /* Параметры рамки */
background: url("_YmVW-TifjE.jpg") 100% 100% no-repeat;
 background-size: 100% 100%, auto, 300px;
}